// Navigation code here

.nav-container{
    width:63%;
    margin:0 18.5%;
    
    border:@nav-border;
    font-style: @nav-font;
    background-color: @nav-bg;
    .custom_layout_1();
    height:100px;
    padding:0 15%;
    position:fixed;
    opacity:.9;
    z-index: 2;
    

    @media @phone{

        width:100%;
        
        margin-left:0%;
        margin-right:10%;
    }
    

    h1{
        .custom_layout();
        font-size:37px;

    }

    nav{
        display:flex;
        justify-content: space-between;

        a{
            text-decoration:none;
            .custom_layout();
            font-size: 16px;
            color:black;
        }

    }
}